---
layout: description
title: Blog
pagetype: blog
---
<!-- This loops through the paginated posts -->


{% if paginator.total_posts == 0 %}
    <p>No posts right now.</p>
{% else %}
{% for post in site %}
  {{post.title}}
{% endfor %} 
{% endif %}
</ul>

<hr>
{% if paginator.total_pages > 1 %}
<ul>

    {% if paginator.previous_page %}
        <li>
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
        </li>
    {% endif %}
    {% if paginator.next_page %}
        <li>
            <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
        </li>
    {% endif %}
</ul>
{% endif %}

<p class="p1"><span class="s1">{% endif %}<span class="Apple-converted-space"> </span></span></p>
</body>
</html>
