---
layout: base 
permalink: /portfolio/

---
<h1 style="text-align:center;">Portfolio</h1>
<hr />
<div class="portfolio">
  {% for post in site.categories.Portfolio%}
      {% if post.external_url %}
	    <a href="{{ post.external_url }}" class="portfolio-item">
	      <div>
	        <h1 class="portfolio-title">{{ post.title }}</h1>
	        <div class="portfolio-line"></div>
			<br> {{ post.excerpt | strip_html }}
	      </div>
	    </a>
		{% else %}
	    <a href="{{ post.url | prepend: site.baseurl }}" class="portfolio-item">
	      <div>
	        <h1 class="portfolio-title">{{ post.title }}</h1>
	        <div class="portfolio-line"></div>
			<br> {{ post.excerpt | strip_html }}
			</div>
	    </a>
      {% endif %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left next">Prev</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right next">Next</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
